{% extends 'home.html' %} {% block contenido %} {% load static%}
<div class="w3-row justify " >
  <div class="w3-half w3-third w3-center cont-card">
  
    <div id="contenedor_img">
      <img src="{% static 'logo4.png' %}" alt="" width="260px" />
    </div>
      <h2>Gracias por visitarnos</h2>
     <div class="w3-panel w3-card w3-padding-16">
<h1>   Bienvenido(a) {{user.first_name}} {{user.last_name}}</h1>

      <table class="w3-table  w3-striped" >
      <tbody>
        <tr>
          <td><h3>Nombre Usuario</h3></td>
          <td><h3>{{user.email}}</h3></td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>{{user.first_name }}</td>
        </tr>
        <tr>
          <td>Apellido</td>
          <td>{{user.last_name}}</td>
        </tr>
        <tr>
          <td>Correo</td>
          <td>{{user.email }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <br />
  </div>
</div>
</div>
{% endblock %}